h1{
  color: green;
  /* background-color: green; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6B6A6A;
}