<div>
    <div class="boxOne">
        <img src="../../../../assets/svg/boxOne.svg" alt="cardOne" srcset="">
    </div>
    <!-- <div class="boxTwo">
        <img src="../../../../assets/svg/boxOne.svg" alt="cardOne" srcset="">
    </div>
    <div class="boxThree">
        <img src="../../../../assets/svg/boxOne.svg" alt="cardOne" srcset="">
    </div>
    <div class="boxFour">
        <img src="../../../../assets/svg/boxOne.svg" alt="cardOne" srcset="">
    </div> -->
    <img src="../../../../assets/svg/cardOne.svg" alt="cardOne" srcset="">
</div>
