.boxOne{
    position: absolute;
    bottom : 500px;
    left: 30px;
}
/* .boxTwo{
    position: relative;
    bottom : 500px;
    left: 30px;
}
.boxThree{
    position: relative;
    bottom : 500px;
    left: 30px;
}
.boxFour{
    position: relative;
    bottom : 500px;
    left: 30px;
} */